---
title: Gonwa
---
<div class="welcome text-center">
  <body>

    <!-- Banner -->
    <div class="banner text-center">
      <div class="banner-shadow"></div>
      <div class="banner-content fade-and-slide">
        <h1>Le Wagon</h1>
        <p>We are family</p>
        <%= link_to "Let's GO" , "http://lewagon.org", class: "btn btn-danger btn-lg" %>
      </div>
    </div>

    <!-- Cards -->
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="features">
              <h2>
                <%= image_tag "chat.png" %> This is the way we code
              </h2>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.
                </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="features">
              <h2>
                <%= image_tag "search.png" %>
                 This is the way we learn
              </h2>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.
                </p>
            </div>
          </div>
          <div class="col-xs-12 col-md-3">
            <div class="features">
              <h2>
                <%= image_tag "mobile.png" %> This is the way we share
              </h2>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.
                </p>
            </div>
          </div>
           <div class="col-xs-12 col-md-3">
            <div class="features">
              <h2>
                <%= image_tag "heart.png" %> This is the way we love
              </h2>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sequi sed, odit tenetur? Necessitatibus ad nulla deleniti quis vel facere hic illum omnis expedita beatae aliquam quibusdam asperiores laborum, magni.
                </p>
            </div>
          </div>
      </div>



        <h2 class="text-center">KILLER GUY'S @ WAGON</h2>
          <%  data.products.each do |post| %>
            <div class="col-xs-12 col-md-4">
              <div class="cards">
                <h3 class="card-name"><%= post.name %></h3>
                <p class="card-description"> <%= post.description %> </p>
                <p class="card-popular"><%= post.popularity %></p>
                  <%= image_tag post.image %>
              </div>
            </div>
          <% end %>
        </div>


    <!-- Newsletter -->

<div class="text-center padded" id="newsletter">
  <h2>Get news from us !</h2>
  <p>Leave us your email</p>
  <form action="/" class="form-inline">
    <input type="email" placeholder="magueule@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>
</div><!-- .welcome -->
